<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Principal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-KDptv5fFo4y1Y7MHdj2ZcWcXdUdCPZ5+4CclD2p08G6xqptMDwzgVfJ15DlEVRcc0fM4wwDZV3XyZwz4L3L1YA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
        @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");

        .left-side {
            background-color: #000000;
            width: 360px;
            min-height: 100vh;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;
        }

        .left-side img {
            width: 190px;
            height: 50px;
            margin-bottom: 20px;
        }

        .nbvar {
            margin-top: 90px;
        }

        .inicio,
        .conversacion,
        .paciente,
        .historial,
        .plantilla,
        .evaluacion {
            width: 200px;
            height: 40px;
            margin-top: 20px;
            border-radius: 5px 0px 0px 0px;
            opacity: 0px;
        }

        .inicio a,
        .conversacion a,
        .paciente a,
        .historial a,
        .plantilla a,
        .evaluacion a {
            width: auto;
            height: 14px;
            top: 15px;
            left: 48px;
            gap: 0px;
            opacity: 0px;
            font-family: "Open Sans";
            font-size: 15px;
            font-weight: 400;
            line-height: 13.62px;
            text-align: left;
            color: rgba(255, 255, 255, 1);
        }

        .inicio img,
        .conversacion img,
        .paciente img,
        .historial img,
        .plantilla img,
        .evaluacion img {
            width: 30px;
            height: 30px;
            margin-top: 15px;
            left: 16px;
            padding: 3.44px 2px 4px 2px;
            gap: 0px;
            opacity: 0px;
        }

        .bienvenida {
            height: 43px;
            margin-top: 139px;
            gap: 0px;
            opacity: 0px;
            font-family: "Roboto Slab";
            font-size: 35px;
            font-weight: 400;
            line-height: 36.93px;
            text-align: left;
        }

        .bienvenida span {
            font-family: "Roboto Slab";
            font-size: 35px;
            font-weight: 700;
            line-height: 36.93px;
            text-align: left;
        }

        .explicacion {
            height: 67px;
            margin-top: 100px;
            gap: 0px;
            opacity: 0px;
            text-align: center;
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 400;
            line-height: 19.07px;
            text-align: center;
        }

        .caja {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            margin-top: 30px;
            /* Incrementar para separarlos más de la línea de tiempo */
            flex-direction: row;
            width: 100%;
        }

        .box {
            width: 150px;
            height: 100px;
            background-color: rgba(217, 217, 217, 1);
            border-radius: 5px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 10px;
            padding: 10px;
            text-align: center;
        }

        .box p {
            font-family: "Open Sans";
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            margin: 0;
        }

        .timeline {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 40px 0;
            width: 100%;
        }

        .circle {
            width: 30px;
            height: 30px;
            background-color: #000;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: bold;
            font-family: "Open Sans";
        }

        .line {
            width: 100px;
            /* Ancho reducido para acercar los números */
            height: 2px;
            background-color: black;
            margin: 0 1px;
            /* Reducido para disminuir la separación */
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 left-side">
                <img style="margin-top: 20px" src="../imagenes/Logo.png" alt="Logo" />
                <!-- Enlaces -->
                <div class="nbvar">
                    <div class="inicio">
                        <a href="/alumno/home">
                            <img src="../imagenes/inicio.png" alt="Inicio" />Inicio
                        </a>
                    </div>
                    <div class="conversacion">
                        <a href="/alumno/chat">
                            <img src="../imagenes/conversacion.png" alt="Conversación" />Conversación
                        </a>
                    </div>
                    <div class="paciente">
                        <a href="/paciente.ejs">
                            <img src="../imagenes/paciente.png" alt="Paciente" />Paciente IA
                        </a>
                    </div>
                    <div class="historial">
                        <a href="/alumno/historial">
                            <img src="../imagenes/historial.png" alt="Historial" />Historial
                        </a>
                    </div>
                    <div class="plantilla">
                        <a href="/plantilla">
                            <img src="../imagenes/plantilla.png" alt="Plantilla" />Plantilla
                        </a>
                    </div>
                    <div class="evaluacion">
                        <a href="/alumno/evaluacion">
                            <img src="../imagenes/evaluacionf.png" alt="Evaluación" />Evaluación
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-9 d-flex flex-column align-items-center justify-content-center">
                <h1 class="bienvenida">
                    Evaluación Final
                </h1>
                <div class="container" style="max-width: 700px;">
                    <p style="text-align: center; margin-top: 50px; font-family: 'Open Sans'; font-size: 13;">Hola aquí,
                        tendrás la oportunidad de interactuar con una
                        inteligencia artificial avanzada diseñada para simular sesiones de terapia y explorar diversas
                        facetas de la psicología.</p>

                    <div class="hacerhoy">
                        <h2 style="text-align: center; font-size: 20px">Antes de comenzar recuerda</h2>
                    </div>

                    <div class="timeline">
                        <div class="circle">1</div>
                        <div class="line"></div>
                        <div class="circle">2</div>
                        <div class="line"></div>
                        <div class="circle">3</div>
                    </div>
                </div>
                <div class="caja">
                    <div class="box">
                        <p>
                            Tendrás un paciente elegido al azar
                        </p>
                    </div>
                    <div class="box">
                        <p>
                            Tendrás 10 minutos para interactuar con el paciente
                        </p>
                    </div>
                    <div class="box">
                        <p>
                            Se evaluará tu capacidad de diagnóstico y manejo de la sesión
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>